:root {
  --color-primary: #7fff00;
  --color-primary-light: #BFFF80;
  --color-secondary: #1050d0;
  --bgColor: #333;
  --buttonTextColor :#555;
}
* {
  box-sizing: border-box;
}

body {  
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Sour Gummy", serif;
  color: #FFF;
  background-color: var(--bgColor);
}

@import "tailwindcss";
