:root {
  --header-height: 40px;
  --edit-mode-color: #ffcc00;
  --footer-height: 40px;
  --color-primary: #7fff00;
  --color-primary-light: #bfff80;
  --color-secondary: #125aeb;
  --color-error: #f82929;
  --bgColor: #333;
  --buttonTextColor: #555;
  --color-header-nav: #60a5fa;
  width: 100%;
}
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Sour Gummy", serif;
  color: #fff;
  background-color: var(--bgColor);
}

@import "tailwindcss";
